.toaster {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(20px);
    position: fixed;
    bottom: 85%;
    right: 50%;
    transform: translate(50%, 50%);
    background-color: #38a169;
    /* bg-green-500 */
    color: white;
    padding: 20px 32px;
    /* px-4 py-2 */
    border-radius: 8px;
    /* rounded */
    z-index: 2500;
    font-size: 1.25rem;
    /* Increase font size */
}

.toaster.show {
    opacity: 1;
    transform: translate(50%, 0);
}


dialog#driverModal::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: darken background */
}

dialog#driverModal {
    position: fixed;
    /* Override dialog's default absolute positioning */
    inset: 0;
    /* Center the modal relative to the viewport */
    margin: auto;
    /* Center horizontally and vertically */
}

.modal-hover:hover {
    background-color: #cbd5e1;
    /* Tailwind's bg-gray-300 */
    cursor: pointer;
    border-radius: 0.375rem;
    /* Tailwind's rounded-md */
}

dialog#driverModal {
    z-index: 1500;
    /* Set to less than the toaster's */
}

dialog#constructorModal {}

dialog aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heart-icon {
    width: 30px;
    height: 30px;
}